.result-header{
  margin-bottom: 0.5;
}

.play-again-button {
  margin-top: 0.5em;;
  background: none;
  border: none;
  font-size: larger;
}

.result-icon {
  width: 0.7em;
  height: 0.7em;
  margin-right: 0.5em;
}

.result-display {
  text-align: left;
}